
.li{
  display:inline-block
}

h1{
  margin-left: 50px;
   
  
  margin-bottom: 50px;
}
.space{
  margin-top: 20px;
}
.design{
  
  
  border: 10px solid #454545 ; 
  padding: 10px; 
  
  background-color: #454545 ; 
  color: #FFFFFF;
  margin-left: 50px;
}
.bitdown{
  display:inline-block
}
.picture{
  margin-top: 10px;
  margin-left: 50px;
}
.text{
  margin-left: 40px;
}